{% extends 'teacher/base.html' %}

{% load static %}

{% block main %}

<section class="top-container">
    <header class="showcase_greybackground">
        <h1>Cheatsheet / Learn HTML</h1>
            <h1>HTML</h1>
    </header>
    </section>
    <section class="info">
        <div class="div whatishtml">
            <h2>What is HTML ?</h2>
            
                <li>HTML stands for Hyper Text Markup Language</li>
                <li>HTML is the standard markup language for creating Web pages</li>
                <li>HTML describes the structure of a Web page</li>
                <li>HTML consists of a series of elements</li>
                <li>HTML elements tell the browser how to display the content</li>
                <li>HTML elements label pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc.</li>
        </div>
        <div class="div whatishtmlpicture">
            <img src="{% static 'teacher/whatishtml.png' %}" alt="something">
        </div>
        
    </section>


{% endblock %}